<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Dear ${user.member.firstName}
</p>

<p>
    You can reset your password for RotaryLive by clicking the link:
</p>

<p>
    <a href="http://192.168.1.79:8000/STANDARD/login/reset_password/${code}">http://192.168.1.79:8000/STANDARD/login/reset_password/${code}</a>
</p>

<p>
    If you didn't request this link, you can ignore it.
</p>
<p>
    <span>Cheers,</span>
    <br/>
    <em>RotaryLive Team.</em>
</p>
</body>
</html>